alura-soap/estoquews/EstoqueWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.estoque.caelum.com.br/" name="EstoqueWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.estoque.caelum.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.estoque.caelum.com.br/" schemaLocation="EstoqueWSService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="todosOsItens">
    <part name="parameters" element="tns:todosOsItens"/>
  </message>
  <message name="todosOsItensResponse">
    <part name="parameters" element="tns:getItens"/>
  </message>
  <message name="todosOsItensComFiltro">
    <part name="parameters" element="tns:todosOsItensComFiltro"/>
  </message>
  <message name="todosOsItensComFiltroResponse">
    <part name="parameters" element="tns:todosOsItensComFiltroResponse"/>
  </message>
  <message name="cadastrarItem">
    <part name="parameters" element="tns:cadastrarItem"/>
    <part name="token" element="tns:token"/>
  </message>
  <message name="cadastrarItemResponse">
    <part name="result" element="tns:cadastrarItemResponse"/>
  </message>
  <message name="AutorizacaoFault">
    <part name="fault" element="tns:autorizacaoFault"/>
  </message>
  <portType name="EstoqueWS">
    <operation name="todosOsItens">
      <input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/todosOsItensRequest" message="tns:todosOsItens"/>
      <output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/todosOsItensResponse" message="tns:todosOsItensResponse"/>
    </operation>
    <operation name="todosOsItensComFiltro">
      <input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/todosOsItensComFiltroRequest" message="tns:todosOsItensComFiltro"/>
      <output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/todosOsItensComFiltroResponse" message="tns:todosOsItensComFiltroResponse"/>
    </operation>
    <operation name="cadastrarItem" parameterOrder="parameters token">
      <input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/cadastrarItemRequest" message="tns:cadastrarItem"/>
      <output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/cadastrarItemResponse" message="tns:cadastrarItemResponse"/>
      <fault message="tns:AutorizacaoFault" name="AutorizacaoFault" wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/cadastrarItem/Fault/AutorizacaoException"/>
    </operation>
  </portType>
  <binding name="EstoqueWSPortBinding" type="tns:EstoqueWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="todosOsItens">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="todosOsItensComFiltro">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cadastrarItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:cadastrarItem" part="token" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AutorizacaoFault">
        <soap:fault name="AutorizacaoFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="EstoqueWSService">
    <port name="EstoqueWSPort" binding="tns:EstoqueWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

